[access "refs/*"]
        owner = group android_device_samsung_a16x
        label-Verified = -1..+1 group android_device_samsung_a16x
        submit = group android_device_samsung_a16x
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[project]
	description = Galaxy A16 (Exynos) | bugs: Data mounting (WIP)
